<div class="row">
  <div class="span12">
    <%= link_to %(<i class="icon-arrow-left"></i>上一篇: #{@prev_summarize.title}).html_safe, summarize_path(@prev_summarize), :class => 'pull-left' if @prev_summarize %>
    <%= link_to %(下一篇: #{@next_summarize.title}<i class="icon-arrow-right"></i>).html_safe, summarize_path(@next_summarize), :class => 'pull-right' if @next_summarize %>
  </div>
</div>

<br/>

<p>
  <b>标题:</b>
  <%= @summarize.title %>
</p>

<p>
  <b>作者:</b>
  <%= @summarize.user.username %>
</p>

<p>
  <b>科目:</b>
  <%= @summarize.course %>
</p>

<p>
  <b>学期:</b>
  <%= @summarize.term.name %>
</p>

<p>
  <b>内容:</b><br/>
  <%= @summarize.content.html_safe %>
</p>


<%#= link_to 'Edit', edit_summarize_path(@summarize) %>
<%#= link_to 'Back', summarizes_path %>
