<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @lesson_hour.name %>
</p>

<p>
  <b>Lesson:</b>
  <%= @lesson_hour.lesson_id %>
</p>

<p>
  <b>Content:</b>
  <%= @lesson_hour.content %>
</p>


<%= link_to 'Edit', edit_lesson_hour_path(@lesson_hour) %> |
<%= link_to 'Back', lesson_hours_path %>
