<style type="text/css">
table.table thead tr th { text-align: center; } 
table.table tbody tr td.center { text-align: center; }
</style>

<h2>科组学习计划</h2>

<table class="table">
    <thead>
  <tr>
    <th style="width: 42%;">名 称</th>
    <th style="width: 8%;">作 者</th>
    <th style="width: 8%;">科 组</th>
    <th style="width: 15%;">学 期</th>
  </tr>
    </thead>
    <tbody>
<% @group_study_plans.each do |group_study_plan| %>
  <tr>
    <td><%= link_to group_study_plan.title, group_study_plan_path(group_study_plan) %></td>
    <td class="center"><%= group_study_plan.user.username if group_study_plan.user %></td>
    <td class="center"><%= group_study_plan.group.name %></td>
    <td class="center"><%= group_study_plan.term.name %></td>
  </tr>
<% end %>
    </tbody>
</table>
<%= will_paginate @group_study_plans, class: 'apple_pagination' %>
