<style type="text/css">
table.table thead tr th { text-align: center; } 
table.table tbody tr td.center { text-align: center; }
</style>

<h2><%= current_user.username %>的科组学习计划</h2><span class="pull-right"><%= link_to '<i class="icon-plus icon-white"></i> 新建科组学习计划'.html_safe, new_group_study_plan_path, :class => 'btn btn-primary'%></span>

<table class="table">
    <thead>
  <tr>
    <th style="width: 42%;">名 称</th>
    <th style="width: 8%;">作 者</th>
    <th style="width: 8%;">科 组</th>
    <th style="width: 15%;">学 期</th>
    <th style="width: 12%;">操 作</th>
  </tr>
    </thead>
    <tbody>
<% @group_study_plans.each do |group_study_plan| %>
  <tr>
    <td><%= link_to group_study_plan.title, show_gsps_personal_path(group_study_plan) %></td>
    <td class="center"><%= group_study_plan.user.username if group_study_plan.user %></td>
    <td class="center"><%= group_study_plan.group.name %></td>
    <td class="center"><%= group_study_plan.term.name %></td>
    <td class="center"><%= link_to '编 辑', edit_group_study_plan_path(group_study_plan), :class => 'btn btn-primary btn-mini' %>  <%= link_to '删 除', group_study_plan, confirm: '您确定要删除吗?', method: :delete, :class => 'btn btn-danger btn-mini' %></td>
  </tr>
<% end %>
    </tbody>
</table>
<%= will_paginate @group_study_plans, class: 'apple_pagination' %>
