<script type="text/javascript">
$(function() {
  //限制最多10个课时--------------------------------------------
  var fieldsCount,
      maxFieldsCount = 9,
      $addLink = $('a.add_nested_fields');
  
  function toggleAddLink() {
    $addLink.toggle(fieldsCount < maxFieldsCount)
  }

  $(document).on('nested:fieldAdded', function() {
    fieldsCount += 1;
    toggleAddLink();
  });

  $(document).on('nested:fieldRemoved', function() {
    fieldsCount -= 1;
    toggleAddLink();
  });  

  // count existing nested fields after page was loaded
  fieldsCount = $('form .fields').length;
  toggleAddLink();
  //----------------------------------------------------------

  //新建课时时，把编辑器也加载进去---------------------------------
  $(document).on('nested:fieldAdded', function(event) {
    var field = event.field;
    var editor = KindEditor.create('form textarea[id="'+field.find('textarea')[0].id+'"]', {
      allowFileManager : true,
      width : '100%'
    });
    editor.html('<table style="width:100%;border:1px solid black;font-size:16px;" border="1"> \
  <tr>\
    <th style="border: 1px solid black; background-color: #ddd;"  colspan="4" >第 课时</th>\
  </tr>\
  <tr>\
    <th style="border: 1px solid black;"  rowspan="2" width="4%">教学过程</th>\
    <th style="border: 1px solid black;"  width="50%">教师活动</th>\
    <th style="border: 1px solid black;"  width="23%">学生活动</th>\
    <th style="border: 1px solid black;"  width="23%">设计意图</th>\
  </tr>\
  <tr>\
    <td style="border: 1px solid black;" valign="top" height="100px"></td>\
    <td style="border: 1px solid black;" valign="top"></td>\
    <td style="border: 1px solid black;" valign="top"></td>\
  </tr>\
  <tr>\
    <th style="border: 1px solid black;" >评价及板书设计</th>\
    <td style="border: 1px solid black;"  colspan="3"></td>\
  </tr>\
  <tr>\
    <th style="border: 1px solid black;" >小结及作业</th>\
    <td style="border: 1px solid black;"  colspan="3"></td>\
  </tr>\
  <tr>\
    <th style="border: 1px solid black;" >教学反思</th>\
    <td style="border: 1px solid black;"  colspan="3"></td>\
  </tr>\
</table>');
  });
  //----------------------------------------------------------

  //进入编辑时，让指定的textarea加载kindeditor-------------------------
  $('textarea').each(function(index) {
    if ( this.id.indexOf('lesson_hours') != -1 ) {
      KindEditor.create('form textarea[id="'+this.id+'"]', {
        allowFileManager : true,
        width : '100%'
      });
    }
  });
  //----------------------------------------------------------
});
</script>
<%= simple_nested_form_for(@lesson, :html => { :class => 'form-horizontal' } ) do |f| %>
  <%#= f.error_notification %>
  <div class="form-inputs">
		<%= f.input :title %>
		<%= f.input :class_hour, :collection => [1,2,3,4,5,6,7,8,9,10,11,12], include_blank: false %>
		<%= f.input :course, :collection => Lesson::COURSES, include_blank: false %>
		<%= f.input :grade, :collection => Lesson::GRADES, include_blank: false %>
		<%= f.input :volume, :collection => Lesson::VOLUMES, include_blank: false %>
		<%= f.input :unit, :collection => Lesson::UNITS, include_blank: false %>
		<%= f.association :term, include_blank: false %>
    <%= f.input :goal_knowledge, as: :kindeditor, input_html: { height: '150' } %>
    <%= f.input :goal_ability, as: :kindeditor, input_html: { height: '150' } %>
    <%= f.input :goal_emotion, as: :kindeditor, input_html: { height: '150' } %>
    <%= f.input :unit_emphasis, as: :kindeditor, input_html: { height: '150' } %>
    <%= f.input :teaching_emphasis, as: :kindeditor, input_html: { height: '150' } %>
    <%= f.input :teaching_difficulty, as: :kindeditor, input_html: { height: '150' } %>
    <%= f.input :teaching_method, as: :kindeditor, input_html: { height: '150' } %>
    <%= f.input :teaching_ready, as: :kindeditor, input_html: { height: '150' } %>
    <div style="border-bottom: 1px solid #DDD;margin-bottom: 15px;"></div>
		<%= f.fields_for :lesson_hours do |lesson_hour| %>
		  <%= lesson_hour.input :content %>
      <div class="control-group select optional">
        <div class="controls">
          <%= lesson_hour.link_to_remove "删除此课时", :class => "btn btn-danger" %>
        </div>
        <div style="border-bottom: 1px solid #DDD;padding-top: 15px;"></div>
      </div>
		<% end %>
		<%= f.link_to_add "增加课时", :lesson_hours, :class => "btn btn-info" %>
		<%#= f.input :content, as: :kindeditor, input_html: { height: '700' } %>
		
	</div>
	<div class="form-actions">
		<%= f.button :submit, :class => "btn btn-primary" %>
		<%= link_to '取 消', myhome_path, :class => "btn" if logged_in? %>
		<%= link_to '取 消', lessons_path, :class => "btn" if not logged_in? %>
	</div>
<% end %>

