<style type="text/css" media="screen">
.span2, .span1 { text-align: center; }
.row { margin-top: 10px; border-bottom: 1px solid #ddd;}
.row .nobottom { border: none; }
.row .nobottom .span4 label { text-align: center; font-size: 14px; font-weight: bold; }
.height2 .span2, .height2 .span1{
	height: 610px;
	line-height: 610px;
	font-size: 14px;
	font-weight: bold;
}
.padtop25{
	padding-top: 5px;
}
.height3 .span2 label {
	height: 180px;
	line-height: 180px;
	font-size: 14px;
	font-weight: bold;
}
.nav-tabs > .active > a, .nav-tabs > .active > a:hover {
	font-weight: bold;
	color: black;
}
</style>

<script type="text/javascript" charset="utf-8">
$('.myhome').addClass('active');
</script>

<%= simple_nested_form_for(@lesson, :html => { :class => 'form-horizontal' } ) do |f| %>
  <%#= f.error_notification %>
  <div class="form-inputs">
		<%= f.input :title %>
		<%= f.input :class_hour, :collection => [1,2,3,4,5,6,7,8,9,10,11,12], include_blank: false %>
		<%= f.input :course, :collection => Lesson::COURSES, include_blank: false %>
		<%= f.input :grade, :collection => Lesson::GRADES, include_blank: false %>
		<%= f.input :volume, :collection => Lesson::VOLUMES, include_blank: false %>
		<%= f.input :unit, :collection => Lesson::UNITS, include_blank: false %>

		<div class="row height2">
			<div class="span2">教学目标</div>
			<div class="span10">
				<%= f.label :goal_knowledge %><%= f.input_field :goal_knowledge, :rows => 10, :id => "goal_knowledge" %>
				<div class="padtop25"></div>
				<%= f.label :goal_ability %><%= f.input_field :goal_ability, :rows => 10, :id => "goal_ability" %>
				<div class="padtop25"></div>
				<%= f.label :goal_emotion %><%= f.input_field :goal_emotion, :rows => 10, :id => "goal_emotion" %>
			</div>
		</div>
		<div class="row height3">
			<div class="span2"><h4><%= f.label :unit_emphasis %></h4></div>
			<div class="span10"><%= f.input_field :unit_emphasis, :rows => 10, :id => "unit_emphasis" %></div>
		</div>
		<div class="row height3">
			<div class="span2"><h4><%= f.label :teaching_emphasis %></h4></div>
			<div class="span10"><%= f.input_field :teaching_emphasis, :rows => 10, :id => "teaching_emphasis" %></div>
		</div>
		<div class="row height3">
			<div class="span2"><h4><%= f.label :teaching_difficulty %></h4></div>
			<div class="span10"><%= f.input_field :teaching_difficulty, :rows => 10, :id => "teaching_difficulty" %></div>
		</div>
		<div class="row height3">
			<div class="span2"><h4><%= f.label :teaching_method %></h4></div>
			<div class="span10"><%= f.input_field :teaching_method, :rows => 10, :id => "teaching_method" %></div>
		</div>
		<div class="row height3">
			<div class="span2"><h4><%= f.label :teaching_ready %></h4></div>
			<div class="span10"><%= f.input_field :teaching_ready, :rows => 10, :id => "teaching_ready" %></div>
		</div>
		
		<div class="padtop25"></div>
		<%= f.link_to_add "增加课时", :lesson_hours, :class => "btn btn-success" %>
		<div class="padtop25"></div>
		
		<div class="tabbable">
		  <ul class="nav nav-tabs" id="lesson_hours-tab-menu">
		  	<% idx = 1 %>
				<%= f.fields_for :lesson_hours do |lesson_hour_form| %>
			  <li class="<%= "active" if idx == 1 %>"><a href="#tab<%= idx %>" data-toggle="tab">第<%= idx %>课时</a></li>
				<% idx += 1 %>
				<% end %>
		  </ul>
		  <div class="tab-content" id="lesson_hours-tab-content">
		  	<% idx = 1 %>
				<%= f.fields_for :lesson_hours do |lesson_hour_form| %>
			  <div class="tab-pane <%= "active" if idx == 1 %>" id="tab<%= idx %>">
					<%= lesson_hour_form.link_to_remove "删除当前课时", :class => "btn btn-danger offset10", :confirm => "你确定删除当前课时吗？" %>
					<div class="row height2">
						<div class="span1">教学过程</div>
						<div class="span11">
							<div class="row nobottom">
								<div class="span4"><%= lesson_hour_form.label :process_teacher %></div>
								<div class="span4"><%= lesson_hour_form.label :process_stu %></div>
								<div class="span3"><%= lesson_hour_form.label :process_idea %></div>
							</div>
							<div class="row">
								<div class="span4"><%= lesson_hour_form.input_field :process_teacher, :rows => 30, :id => "process_teacher_#{idx}" %></div>
								<div class="span4"><%= lesson_hour_form.input_field :process_stu, :rows => 30, :id => "process_stu_#{idx}" %></div>
								<div class="span3"><%= lesson_hour_form.input_field :process_idea, :rows => 30, :id => "process_idea_#{idx}" %></div>
							</div>
						</div>
					</div>
					<div class="row height3">
						<div class="span2"><%= lesson_hour_form.label :evaluate_blackboard %></div>
						<div class="span10"><%= lesson_hour_form.input_field :evaluate_blackboard, :rows => 10, :id => "evaluate_blackboard_#{idx}" %></div>
					</div>
					<div class="row height3">
						<div class="span2"><%= lesson_hour_form.label :summary_homework %></div>
						<div class="span10"><%= lesson_hour_form.input_field :summary_homework, :rows => 10, :id => "summary_homework_#{idx}" %></div>
					</div>
					<div class="row height3">
						<div class="span2"><%= lesson_hour_form.label :thinking %></div>
						<div class="span10"><%= lesson_hour_form.input_field :thinking, :rows => 10, :id => "thinking_#{idx}" %></div>
					</div>
			  </div>
				<% idx += 1 %>
				<% end %>
		  </div>
		</div>
	</div>
	<div class="form-actions">
		<%= f.button :submit, :class => "btn btn-primary" %>
		<%= link_to '取 消', myhome_path(current_user), :class => "btn" if logged_in? %>
		<%= link_to '取 消', lessons_path, :class => "btn" if not logged_in? %>
	</div>

<% end %>

