<style type="text/css">
table.table thead tr th{
  text-align: center;
} 
table.table tbody tr td.center{
  text-align: center;
} 
</style>
<h2><%= @course %></h2>
<table class="table table-striped">
  <thead>
  	<tr>
      <th style="width: 40%;">名 称</th>
      <th style="width: 8%;">作 者</th>
      <th style="width: 8%;">科 目</th>
      <th style="width: 8%;">年 级</th>
      <th style="width: 8%;">册 数</th>
      <th style="width: 8%;">单 元</th>
      <th style="width: 15%;">学 期</th>
    </tr>
	</thead>
	<tbody>
<% @lessons.each do |lesson| %>
  <tr>
    <td><%= link_to lesson.title, show_lesson_path(lesson, course_type(lesson)) %></td>
	  <td class="center"><%= lesson.user.username %></td>
	  <td class="center"><%= lesson.course %></td>
	  <td class="center"><%= lesson.grade %></td>
	  <td class="center"><%= lesson.volume %></td>
    <td class="center"><%= lesson.unit %></td>
	  <td class="center"><%= lesson.term.name %></td>
  </tr>
<% end %>
	</tbody>
</table>

<script language="Javascript">
document.oncontextmenu=new Function("event.returnValue=false");
document.onselectstart=new Function("event.returnValue=false");
</script>

<%= will_paginate @lessons, class: 'apple_pagination' %>