<style type="text/css" media="screen">
.row .span6 .td1 { width: 67%; }
.row .span6 .td2 { width: 13%; }
.row .span6 .td3 { width: 20%; }
.row .span6 table thead tr td {
	background-color: #EFF7FF;
	font-size: 18px;
	font-weight: bold;
	border-bottom: 1px solid #66A1D2;
}
.row .span6 table {
	border: 1px solid #66A1D2;
}
</style>

<script type="text/javascript" charset="utf-8">
$('.homepage').addClass('active');
</script>

<div class="row">
	<div class="span6">
		<table class="table table-striped">
			<thead><tr><td colspan="3">语文</td></tr></thead>
			<tbody><%= index_lessons(@chinese) %></tbody>
		</table>
	</div>
	<div class="span6">
		<table class="table table-striped">
			<thead><tr><td colspan="3">数学</td></tr></thead>
			<tbody><%= index_lessons(@math) %></tbody>
		</table>
	</div>
</div>
<div class="row">
	<div class="span6">
		<table class="table table-striped">
			<thead><tr><td colspan="3">英语</td></tr></thead>
			<tbody><%= index_lessons(@english) %></tbody>
		</table>
	</div>
	<div class="span6">
		<table class="table table-striped">
			<thead><tr><td colspan="3">综合</td></tr></thead>
			<tbody><%= index_lessons(@zhonghe) %></tbody>
		</table>
	</div>
</div>
<div class="row">
	<div class="span6">
		<table class="table table-striped">
			<thead><tr><td colspan="3">教学计划</td></tr></thead>
			<tbody><%= index_plans(@plans) %></tbody>
		</table>
	</div>
	<div class="span6">
		<table class="table table-striped">
			<thead><tr><td colspan="3">教学总结</td></tr></thead>
			<tbody><%= index_summarizes(@summarizes) %></tbody>
		</table>
	</div>
</div>

<%#= link_to 'New Lesson', new_lesson_path %>