<h2>共<%= @lessons.count %>个搜索结果</h2>
<p>搜索内容为：<b><%= @search_str %></b></p>
<style type="text/css">
table.datatable tbody tr td.center {
  text-align: center;
} 
</style>
<table class="datatable">
  <thead>
	<tr>
    <th style="width: 52%;">名 称</th>
		<th style="width: 8%;">科 目</th>
    <th style="width: 8%;">年 级</th>
    <th style="width: 8%;">册 数</th>
    <th style="width: 8%;">单 元</th>
		<th style="width: 8%;">作 者</th>
		<th style="width: 8%;">创建时间</th>
  </tr>
	</thead>
	<tbody>
<% @lessons.each do |lesson| %>
  <tr>
    <td><%= link_to lesson.title, show_lesson_path(lesson), target: '_blank' %></td>
		<td class="center"><%= lesson.course %></td>
		<td class="center"><%= lesson.grade %></td>
		<td class="center"><%= lesson.volume %></td>
    <td class="center"><%= lesson.unit %></td>
		<td class="center"><%= lesson.user.username %></td>
		<td class="center"><%= lesson.created_at.strftime("%Y-%m-%d") %></td>
  </tr>
<% end %>
	</tbody>
</table>


<script type="text/javascript">
$('.datatable').dataTable({
  		"sDom": "<'row'<'span6'l><'span6'f>r>t<'row'<'span6'i><'span6'p>>",
  		"sPaginationType": "bootstrap",
      	"oLanguage": {
      		"sLengthMenu": "每页 _MENU_ 条",
      		"sSearch": "过滤条件:",
      		"sInfo": "_TOTAL_条中的第_START_至_END_条记录",
      		"sEmptyTable": "没有数据",
      		"sInfoEmpty": "无记录",
      		"sInfoFiltered": "",
    }
  } );

</script>