<h2>共<%= @lessons.count %>个搜索结果</h2>
<p>搜索内容为：<b><%= @search_str %></b></p>
<table class="table table-striped">
  <thead>
	<tr>
    <th style="width: 60%;">名 称</th>
		<th style="width: 8%;">科 目</th>
    <th style="width: 8%;">年 级</th>
		<th style="width: 8%;">作 者</th>
		<th style="width: 15%;">创建时间</th>
  </tr>
	</thead>
	<tbody>
<% @lessons.each do |lesson| %>
  <tr>
    <td><%= link_to lesson.title, show_lesson_path(lesson) %></td>
		<td><%= lesson.course %></td>
		<td><%= lesson.grade %></td>
		<td><%= lesson.user.username %></td>
		<td><%= lesson.created_at.strftime("%Y-%m-%d %H:%M:%S") %></td>
  </tr>
<% end %>
	</tbody>
</table>
