<style type="text/css" media="screen">
.unstyled li {
	text-align: center; 
	font-size: 16px;
	height: 20px;
}
</style>

<ul class="pager">
  <li class="previous"><%= link_to %(&larr; 上一篇: #{@prev.title}).html_safe, show_lesson_path(@prev) if @prev %></li>
  <li class="next"><%= link_to %(下一篇: #{@next.title} &rarr;).html_safe, show_lesson_path(@next) if @next %></li>
</ul>
<ul class="unstyled">
	<li><b><%= @lesson.title %></b></li>
	<li>
		<span><%= @lesson.grade %></span>
		<span><%= @lesson.course %></span>
		<span><%= @lesson.volume %></span>
		<span><%= @lesson.unit %></span>
	</li>
	<li>备课老师 <%= @lesson.user.username %></li>
</ul>

<%= @lesson.content.html_safe %>

<script language="Javascript">
document.oncontextmenu=new Function("event.returnValue=false");
document.onselectstart=new Function("event.returnValue=false");
</script>