<style type="text/css" media="screen">
.unstyled li {
	text-align: center; 
	font-size: 16px;
	height: 20px;
}
</style>
<div class="row">
  <div class="span12">
<%= link_to %(<i class="icon-arrow-left"></i>上一篇: #{@prev_lesson.title}).html_safe, show_lesson_path(@prev_lesson, course_type(@prev_lesson)), :class => 'pull-left' if @prev_lesson %>
<%= link_to %(下一篇: #{@next_lesson.title}<i class="icon-arrow-right"></i>).html_safe, show_lesson_path(@next_lesson, course_type(@next_lesson)), :class => 'pull-right' if @next_lesson %>
  </div>
</div>
<ul class="unstyled">
	<li><b><%= @lesson.title %></b></li>
	<li>
		<span><%= @lesson.grade %></span>
		<span><%= @lesson.course %></span>
		<span><%= @lesson.volume %></span>
		<span><%= @lesson.unit %></span>
	</li>
	<li>备课老师 <%= @lesson.user.username %></li>
</ul>

<%= @lesson.content.html_safe %>

<script language="Javascript">
document.oncontextmenu=new Function("event.returnValue=false");
document.onselectstart=new Function("event.returnValue=false");
</script>