<ul class="pager">
  <li class="previous"><%= link_to %(&larr; 上一篇: #{@prev.title}).html_safe, plan_path(@prev) if @prev %></li>
  <li class="next"><%= link_to %(下一篇: #{@next.title} &rarr;).html_safe, plan_path(@next) if @next %></li>
</ul>

<p>
  <b>标题:</b>
  <%= @plan.title %>
</p>

<p>
  <b>作者:</b>
  <%= @plan.user.username %>
</p>

<p>
  <b>科目:</b>
  <%= @plan.course %>
</p>

<p>
  <b>学期:</b>
  <%= @plan.term.name %>
</p>

<p>
  <b>内容:</b><br/>
  <%= @plan.content.html_safe %>
</p>




<%#= link_to 'Edit', edit_plan_path(@plan) %>
<%#= link_to 'Back', plans_path %>
