<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="utf-8">
  <meta name="description" content="西溪小学备课系统">
  <meta name="author" content="lcl">
  <title>西溪小学备课系统</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
	<%= javascript_include_tag "application" %>
	<!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <%#= include_kindeditor_if_needed %>
  <%= csrf_meta_tags %>
	<style type="text/css" media="screen">
		.navbar-inner {
		  background-color: #447bd4;
		  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3f92d2), color-stop(90%, #3f92d2), to(#3f92d2));
		  background-image: -webkit-linear-gradient(#3f92d2, #3f92d2 90%, #3f92d2);
		  background-image: -moz-linear-gradient(top, #3f92d2, #3f92d2 90%, #3f92d2);
		  background-image: -ms-linear-gradient(#3f92d2, #3f92d2 90%, #3f92d2);
		  background-image: -o-linear-gradient(#3f92d2, #3f92d2 90%, #3f92d2);
		  background-image: linear-gradient(#3f92d2, #3f92d2 90%, #3f92d2);
		  background-repeat: no-repeat;
		  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3f92d2', endColorstr='#3f92d2', GradientType=0);
		}
		body { padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */ color: #000; }
		.footer p { color: #555555; margin-bottom: 0; }
		.footer { border-top: 1px solid #E5E5E5;margin-top: 45px;padding: 35px 0 36px;}
		.size14px { font-size: 14px; }
		.navbar .brand {color: #fff;}
		.navbar .nav > li > a {color: #fff;}
		.dropdown-menu a {color: #000;}
	</style>
</head>
<body>
	<div class="navbar navbar-fixed-top">
	  <div class="navbar-inner">
	    <div class="container">
	      <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
	      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </a>

	      <!-- Be sure to leave the brand out there if you want it shown -->
	      <%= link_to "西溪小学备课系统", root_path, :class => "brand" %>

	      <!-- Everything you want hidden at 940px or less, place within here -->
	      <div class="nav-collapse">
	        <!-- .nav, .navbar-search, .navbar-form, etc -->
					<ul class="nav">
					  <li class="homepage size14px"><%= link_to '<i class="icon-home icon-white"></i> 首页'.html_safe, root_path %></li>
						<li class="chinese size14px"><%= link_to '<i class="icon-book icon-white"></i> '.html_safe + Lesson::COURSES[0], course_path(0) %></li>
						<li class="math size14px"><%= link_to '<i class="icon-book icon-white"></i> '.html_safe + Lesson::COURSES[1], course_path(1) %></li>
						<li class="english size14px"><%= link_to '<i class="icon-book icon-white"></i> '.html_safe + Lesson::COURSES[2], course_path(2) %></li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle size14px" data-toggle="dropdown"><i class="icon-th-list icon-white"></i> 综 合<b class="caret"></b></a>
								<ul class="dropdown-menu size14px">
							<% Lesson::COURSES[3..-1].each_with_index do |i,index| %>
						    	<li><%= link_to '<i class="icon-book"></i>'.html_safe + i, course_path(index+3) %></li>
							<% end %>
						    </ul>
						</li>
					  <!--li class="divider-vertical"></li-->
					</ul>
					<!--form class="navbar-search pull-left" accept-charset="UTF-8" action="/search_lesson" method="post">
					  <i class="icon-search icon-white"></i><input type="text" class="search-query" placeholder="搜索" name="search_str">
					</form-->
					
					<ul class="nav">
					  <li class="advanced_search size14px"><%= link_to '<i class="icon-search icon-white"></i> 查找备课'.html_safe, advanced_search_path %></li>
					</ul>

					<ul class="nav pull-right">
					<% if logged_in? %>
              <li class="myhome size14px"><%= link_to '<i class="icon-user icon-white"></i> 备课'.html_safe, myhome_path %></li>
						  <li class="myplan size14px"><%= link_to '<i class="icon-pencil icon-white"></i> 教学计划'.html_safe, plans_path %></li>
              <li class="mysummarize size14px"><%= link_to '<i class="icon-inbox icon-white"></i> 教学总结'.html_safe, summarizes_path %></li>
							<!--li class="divider-vertical"></li-->
						<% end %>
					  <% if logged_in? %>
							<li class="size14px"><%= link_to '<i class="icon-off icon-white"></i> '.html_safe + "注 销", logout_path %></li>
						<% else %>
							<li class="login size14px"><%= link_to '<i class="icon-flag icon-white"></i> '.html_safe + "登 陆", login_path %></li>
						  <li class="signup size14px"><%= link_to '<i class="icon-plus icon-white"></i> '.html_safe + "注 册", signup_path %></li>
						<% end %>
					</ul>
					
	      </div>
	    </div>
	  </div>
	</div>

	<div class="container">
		<!--ul class="breadcrumb"--><%#= yield :breadcrumb %><!--/ul-->
		
		<div class="row">
		  <div class="span12">
				<% if notice %>
			   	<div class="alert alert-success fade in"><a class="close" data-dismiss="alert" href="#">&times;</a><%= notice %></div>
				<% end %>
				<% if alert %>
					<div class="alert alert-error fade in"><a class="close" data-dismiss="alert" href="#">&times;</a><%= alert %></div>
				<% end %>
			  <%= yield %>
			</div>
		</div>
		<footer class="footer">
			<p>
        <%= image_tag('xxlogo.png') %> Copyright <%= Time.now.year %> 东莞市寮步镇西溪小学 | Developed By LCL | Powered By Rails <%= Rails.version %>
      </p>
		</footer>
	</div> <!-- /container -->
</body>
</html>
