<!DOCTYPE html>
<html>
<head>
  <title>PrepareLessons</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= include_kindeditor_if_needed %>
  <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <%= csrf_meta_tags %>
</head>
<body>

	<div class="container">
		<div class="row">
		  <div class="span12">
				<% if notice %>
			   		<div class="alert alert-success"><a class="close" data-dismiss="alert" href="#">&times;</a><%= notice %></div>
				<% end %>
				<% if alert %>
					<div class="alert alert-error"><a class="close" data-dismiss="alert" href="#">&times;</a><%= alert %></div>
				<% end %>
			  <%= yield %>
			</div>
		</div>
  </div> <!-- /container -->

</body>
</html>
